/*******About********/
/**{outline: orange 1px dashed;}*/

.about-h1 {
  font-size: 3em;
  text-align: center;
  margin: 40px 0px;
}

#about {
  display: flex;
  align-content: flex-start;
}

#about {
  text-align: center;
  margin-top: 50px;
}

#about img {
  border-radius: 100%;
  height: 200px;
}

#about h3 {
  font-size: 2em;
  margin-top: 30px;
}

#about p {
  margin: 30px;
}

.navbar {
  background-color: #59A5D8;
  overflow: hidden;
  height: 60px;
}

.navbar a {
  float: right;
  display: block;
  color: #FFFEFC;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: #FFFEFC;
  color: #000;
}

.branding {
  float: left;
  color: #FFFEFC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #FFFEFC;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

@media(max-width:568px) {
  .navbar-nav {
    display: none
  }
}

@media(min-width:568px) {
  .open-slide {
    display: none
  }
}
.navbar_footer {
  background-color: #59A5D8;
  overflow: hidden;
  height: 60px;
}
.navbar_footer ul {
  margin: 8px 0 0 0;
  list-style: none;
}
.navbar_footer a {
  float: left;
  display: block;
  color: #FFFEFC;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar_footer a:hover {
  background-color: #FFFEFC;
  color: #000;
}
