/**{outline: orange 1px dashed;}*/

#btn-container {
  max-width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

#btn-back {
  width: 120px;
  height: 40px;
  background-color: #59A5D8;
  border: 0;
  color: #7C0A02;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

#btn-back:hover {
  background-color: #A1CDF4;
  transition: background-color 200ms ease-in;
}

#listResult ul {
  background: #BCE7FD;
  padding: 20px 10px;
  margin: 5px;
  border: solid;
  border-color: #7C0A02;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

#listResult ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#listResult ul li {
  line-height: 1.2em;
}

#listResult {
  width: 500px;
  height: 550px;
  overflow: scroll;
  padding: 0 2px;
  border: solid;
  border-color: #A1CDF4;
  border-radius: 5px;
  margin: 20px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

#resultsContainer {
  display: flex;
  align-items: flex-end;
}

#map {
  height: 100%;
  background-color: grey;
}

#mapContainer {
  float: right;
  overflow: hidden;
  margin: 20px 20px;
  width: 600px;
  height: 550px;
}
