/**{outline: orange 1px dashed;}*/

#btn-container {
  max-width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

/*#btn-back {
  width: 120px;
  height: 40px;
  background-color: #59A5D8;
  border: 0;
  color: #7C0A02;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

#btn-back:hover {
  background-color: #A1CDF4;
  transition: background-color 200ms ease-in;
}*/

#btn-back {
  width: 180px;
  height: 60px;
  background-color: #328CC1;
  border: 0;
  color: #FFFEFC;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

#btn-back:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1D2731;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#btn-back:hover:before {
  transform: scaleX(1);
}

#listResult ul {
  background: #BCE7FD;
  padding: 20px 10px;
  margin: 5px;
  border: solid;
  border-color: #0b3c5d;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  position: relative;
}


#listResult ul li {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Architects Daughter', cursive;*/
  color: #1d2731;
  line-height: 1.4em;
}

#listResult ul li a {
  text-decoration: none;
  font-family: 'Architects Daughter', cursive;
  color: #1d2731;
  font-weight: bold;
  font-size: 1.5em;
}

#listResult {
  width: 500px;
  height: 550px;
  overflow: scroll;
  padding: 0 2px;
  border: solid;
  border-color: #A1CDF4;
  border-radius: 5px;
  margin: 20px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

#listResult img {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#resultsContainer {
  display: flex;
  align-items: flex-end;
}

#map {
  height: 100%;
  background-color: grey;
}

#mapContainer {
  overflow: hidden;
  margin: 20px 20px;
  width: 1000px;
  height: 550px;
}
