/************MOBILE VIEW*************/

main h1 {
  text-align: center;
  margin-top: 40px;
  font-family: sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
  letter-spacing: .1em;
}

legend {
  margin-left: 35px;
  font-family: sans-serif;
  font-size: 1.15em;
  padding: 5px;
}

fieldset {
  max-width: 360px;
  margin: 0 auto;
}

#input-form {
  text-align: center;
}

#search-city {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  border: solid;
  border-width: 2px;
  padding: 5px;
}

#search-keyword {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  border: solid;
  border-width: 2px;
  padding: 5px;
}

#search-classify {
  margin-top: 10px;
  width: 300px;
  height: 40px;
  background-color: #BCE7FD;
  border: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

#search-category {
  margin-top: 10px;
  width: 300px;
  height: 40px;
  background-color: #BCE7FD;
  border: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

#calendar {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 40px;
  margin: 10px;
}

#search-maxDate {
  height: 40px;
  border: solid;
  border-width: 2px;
  padding: 5px;
  width: 133px;
  margin-top: 10px;
}

#search-minDate {
  height: 40px;
  border: solid;
  border-width: 2px;
  padding: 5px;
  width: 133px;
  margin-top: 10px;
}

#searchButton {
  width: 220px;
  height: 70px;
  background-color: #328CC1;
  border: 0;
  color: #FFFEFC;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

#searchButton:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1D2731;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#searchButton:hover:before {
  transform: scaleX(1);
}
footer {
  display: none;
}




@media only screen and (min-width: 1020px) {
  footer {
    display: block;
  }

  main h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1em;
    text-align: center;
    margin-top: 80px;
    font-size: 2em;
  }
  legend {
    margin-left: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    padding: 5px;
    letter-spacing: .1em;
  }
  fieldset {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    border: solid;
  }
  #input-form {
    margin: 0 auto;
    height: 400px;
    max-width: 1020px;
    text-align: left;
  }
  #search-city {
    font-family: 'Open Sans', sans-serif;
    width: 420px;
    height: 50px;
    margin-left: 40px;
    margin-top: 50px;
    border: solid;
    border-width: 2px;
    padding-left: 20px;
    font-size: 1.2em;
    letter-spacing: .2em;
  }
  #search-keyword {
    font-family: 'Open Sans', sans-serif;
    width: 420px;
    height: 50px;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 40px;
    border: solid;
    border-width: 2px;
    padding-left: 20px;
    font-size: 1.2em;
    letter-spacing: .2em;
  }
  #search-classify {
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    margin-top: 10px;
    width: 205px;
    height: 60px;
    font-size: 1.1em;
    letter-spacing: .1em;
  }
  #search-category {
    font-family: 'Open Sans', sans-serif;
    margin-left: 32px;
    margin-top: 10px;
    width: 205px;
    height: 60px;
    font-size: 1.1em;
    letter-spacing: .1em;
  }
  #calendar {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: inline-block;
    width: 400px;
    height: 50px;
    letter-spacing: .1em;
  }
  #search-maxDate {
    height: 40px;
    border: solid;
    border-width: 2px;
    padding: 5px;
    width: 190px;
    font-size: 1.1em;
    margin-left: 32px;
    letter-spacing: .05em;
    text-align: center;
  }
  #search-minDate {
    height: 40px;
    border: solid;
    border-width: 2px;
    padding: 5px;
    width: 195px;
    font-size: 1.1em;
    margin-left: 38px;
    letter-spacing: .05em;
    text-align: center;
  }
  #searchButton {
    margin-left: 40px;
    margin-bottom: 50px;
  }
}
