/*______Search Form_________*/
/** {outline: orange 1px dashed;}*/

main {

}

#strike {
  text-decoration: line-through;
}
h2 {
  display: inline-block;
}
#input-form {
  margin: 0 auto;
  /*outline: orange 1px dashed;*/
  height: 300px;
  max-width: 860px;
}

#search-city {
  width: 362px;
  height: 40px;
  margin-left: 40px;
  margin-top: 40px;
}

#search-keyword {
  width: 362px;
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

#search-classify {
  margin-left: 40px;
  margin-top: 10px;
  width: 300px;
  height: 40px;
}

#start-date {
  margin-left: 40px;
  width: 191px;
  height: 40px;
}

#end-date {
  margin-left: 40px;
  width: 191px;
  height: 40px;
}

button {
  width: 120px;
  height: 40px;
  background-color: #7C0A02;
  border: 0;
  color: white;
  font-size: 16px;
}



/*@media(max-width:568px) {
  .navbar-nav {
    display: none
  }
}

@media(min-width:568px) {
  .open-slide {
    display: none
  }
}*/
